.navbar-brand {
    font-family: 'Roboto Mono', monospace;
}
.bg-half {
    background-image: url(images/background-1.jpg);
    height: 50%;
    
    /*Center and scale the image nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#collection-box {
    margin-top: 100px;
}
#jumbotron-box {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 147px;
}
#jumbotron-footer {
    font-family: 'Roboto Mono', monospace;
}
#fb-icon:hover {
    color: 	#3b5998;
}
#twt-icon:hover {
    color: #08a0e9;
}
.card-main:hover {
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 10px grey;
    transition: box-shadow 0.5s ease-in-out;
}

.card-modal {
    display:none;
    position:fixed;
    z-index:1;
    padding-top:70px;
    left:0;
    top:0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0,5);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from{transform: scale(0)}
    to{transform:scale(1)}
}

.close {
    margin-right: 100px;
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}